lesson2/lesson2_2.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -176
      ],
      "id": "db68f15e-c985-431f-abf7-c2c8291c43c4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1IfoDOU5oonoCRNW23LZzqPUR1qx6XJbp",
            "mode": "list",
            "cachedResultName": "n8n_LTRi",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1IfoDOU5oonoCRNW23LZzqPUR1qx6XJbp"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -176
      ],
      "id": "1cf043e8-e1b1-4ee2-b1ee-7f144351964c",
      "name": "搜尋資料夾",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UuwAiNy1MABcXWLE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        -176
      ],
      "id": "e7255f45-f44a-44f2-95d9-71394af773a3",
      "name": "下載檔案",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UuwAiNy1MABcXWLE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        -176
      ],
      "id": "a18f9018-ae00-4e24-a439-0a65f693065e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-ltri",
          "mode": "list",
          "cachedResultName": "n8n-ltri"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        528,
        -144
      ],
      "id": "88ef95eb-fb50-4669-810a-1d8dc354cffe",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bOgm2RIPJWKwaYQO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        48
      ],
      "id": "e06b5d77-c225-49b3-b08c-88e147a731f2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-m3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        496,
        48
      ],
      "id": "8e9582bb-f311-4ff5-8e57-2003392066fe",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "0UUpwEAqlHIlQAOA",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "搜尋資料夾",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "搜尋資料夾": {
      "main": [
        [
          {
            "node": "下載檔案",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下載檔案": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}
