lesson1/lesson1_4.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -112
      ],
      "id": "0c3d16dd-3186-447c-88f5-e2f7f3fca80f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        -112
      ],
      "id": "186c2f74-fd64-4dfe-a029-39b34a47f069",
      "name": "youbikeAPI"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        416,
        -112
      ],
      "id": "42511bf9-261b-4d40-8934-01889fb7dc51",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b20b1f00-5845-431a-af2f-12769ce8e57a",
              "name": "站點",
              "value": "={{$json.sna.replace('YouBike2.0_', '')}}",
              "type": "string"
            },
            {
              "id": "3eea8af0-1378-44cc-88d1-89b553f5fa62",
              "name": "行政區",
              "value": "={{ $json.sarea }}",
              "type": "string"
            },
            {
              "id": "aec29501-5365-489a-bc75-a00f833ff832",
              "name": "時間",
              "value": "={{ $json.mday }}",
              "type": "string"
            },
            {
              "id": "44b5c21c-d397-4c92-b4af-24a371ab400d",
              "name": "總車輛數",
              "value": "={{ $json.Quantity }}",
              "type": "number"
            },
            {
              "id": "7c122ac1-a0da-4822-b428-bdf6ec315f2c",
              "name": "可借",
              "value": "={{ $json.available_rent_bikes }}",
              "type": "number"
            },
            {
              "id": "d5ab5c73-2f21-4c9b-934f-7f1aa2497510",
              "name": "可還",
              "value": "={{ $json.available_return_bikes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -112
      ],
      "id": "a1063234-4a5f-4b56-a870-41a0893d7b51",
      "name": "過濾"
    },
    {
      "parameters": {
        "name": "={{$now.format(\"yyyy-MM-dd_HH-mm-ss\")}}.xlsx",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1IfoDOU5oonoCRNW23LZzqPUR1qx6XJbp",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        -112
      ],
      "id": "49629310-d3e9-492a-9dad-d20fab3924e6",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UuwAiNy1MABcXWLE",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "youbikeAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "youbikeAPI": {
      "main": [
        [
          {
            "node": "過濾",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過濾": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}
